h1 {
    color: orange;
    text-shadow: 2px 2px 6px green;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 4vw;
    animation-name: in;
    animation-duration: 3s;
}
h3 {
    color: rgb(206, 110, 0);
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}
h5 {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}
@keyframes in {
    from {color: rgb(46, 46, 46)}
    to {color: orange;}
    from {text-shadow: 2px 2px 6px rgb(46, 46, 46)}
    to {text-shadow: 2px 2px 6px green;}
    /*eventually make title move a bit, like the minecraft title in the main menu or something*/
  }