p {
    color: rgb(206, 110, 0);
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}
button {
    color: rgb(255, 136, 0);
    background-color: rgb(29, 29, 29);
    font-family: Tahoma, Geneva, sans-serif;
}
.ct {
    padding-top: 25px;
    text-align: center;
}
input {
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(29, 29, 29);
    color: white;
}